@use 'sass:math';

$primary: hsl(49, 85%, 36%);
$secondary: hsl(95, 76%, 36%);
$error: #d32752;
$info: #f6c31c;

$tile-width: 60px;
$grid-gap: 5px;
$grid-width: calc($tile-width * 5 + $grid-gap * 4);
$grid-height: calc($tile-width * 6 + $grid-gap * 5);

$key-gap: 2px;
$key-width: min(50px, 8.5vw);
$key-height: 50px;
$keyboard-width: calc($key-width * 10 + $key-gap * 2 * 11); // 544

$modal-width: 200px;

$stats-bars-width: 30px;

$margin-base: 32px;
$border-radius: 6px;

$switch-height: 24px;
$switch-width: calc($switch-height * 1.76);
$switch-transition: 0.4s;

$colors: (
  'primary': $primary,
  'secondary': $secondary,
  'error': $error,
  'info': $info,
  'blue': #1919e6,
  'red': #e61919,
  'yellow': #e6e619,
  'green': #19e635,
  'orange': #ffa600,
  'purple': #9900ff,
  'light-grey': hsl(0, 0%, 75%),
  'grey': hsl(0, 0%, 50%),
  'dark-grey': hsl(0, 0%, 25%),
  'dark': hsl(0, 0%, 10%),
  'light': hsl(0, 0%, 90%),
  'black': black,
  'white': white,
);

$breakpoints: (
  'xs': 0,
  'sm': 480px,
  'md': 720px,
  'lg': 960px,
  'xl': 1200px,
);

@mixin xs {
  @media (min-width: map-get($breakpoints, 'xs')) {
    @content;
  }
}

@mixin sm {
  @media (min-width: map-get($breakpoints, 'sm')) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($breakpoints, 'md')) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($breakpoints, 'lg')) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($breakpoints, 'xl')) {
    @content;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: map-get($map: $colors, $key: 'light-grey');
  background-color: map-get($map: $colors, $key: 'dark');
}

.bg {
  color: map-get($map: $colors, $key: 'white');
  padding: 0 0.25em;

  &-primary {
    background-color: map-get($map: $colors, $key: 'primary');
  }
  &-secondary {
    background-color: map-get($map: $colors, $key: 'secondary');
  }
  &-black {
    background-color: map-get($map: $colors, $key: 'dark');
  }
}

.text-outline {
  display: inline-block;
  text-align: center;
  border: 1px solid map-get($map: $colors, $key: 'light');
  border-radius: $border-radius;
  width: 6ch;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-inline: auto;
  width: $keyboard-width;
}

.nav-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn {
  font-size: 1.25rem;
  color: map-get($map: $colors, $key: 'light-grey');
  background-color: transparent;
  border: none;
  margin-bottom: 0.25rem;
  cursor: pointer;
  width: calc($tile-width * 0.5);
  height: calc($tile-width * 0.5);

  @include sm {
    font-size: 1.5rem;
    width: calc($tile-width * 0.8);
    height: calc($tile-width * 0.5);
  }
}

.quit-btn {
  display: none;
}

// --------------------------------------------------------

.grid-container {
  width: calc($grid-width * 0.8);
  height: calc($grid-height * 0.8);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: $grid-gap;
  margin-inline: auto;
  margin-bottom: calc($margin-base * 0.5);
  margin-top: calc($margin-base * 1.5);

  @include sm {
    width: $grid-width;
    height: $grid-height;
  }
}

.tile {
  display: grid;
  place-items: center;
  color: map-get($map: $colors, $key: 'white');
  border: 1px solid map-get($map: $colors, $key: 'grey');
  background-color: map-get($map: $colors, $key: 'dark');
  border-radius: $border-radius;
  font-size: math.div($grid-width, 10);

  @include sm {
    font-size: math.div($grid-width, 8);
  }
}

.tile-pop {
  animation: tile-pop 0.3s cubic-bezier(0.17, 0.67, 0.68, 0.55) forwards;
}

@keyframes tile-pop {
  50% {
    color: map-get($map: $colors, $key: 'primary');
    transform: scale(1.1);
    border: 3px solid map-get($map: $colors, $key: 'grey');
  }
  100% {
    color: map-get($map: $colors, $key: 'white');
    transform: scale(1);
    border: 1px solid map-get($map: $colors, $key: 'grey');
  }
}

.tile-flip {
  animation: tile-flip 0.4s ease-in-out forwards;
}

@keyframes tile-flip {
  50% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  100% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
}

// --------------------------------------------------------

.keyboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: $keyboard-width;
  margin-inline: auto;
}

.key-tile {
  height: $key-height;
  width: $key-width;
  color: map-get($map: $colors, $key: 'white');
  border: 1px solid map-get($map: $colors, $key: 'light-grey');
  background-color: map-get($map: $colors, $key: 'grey');
  border-radius: $border-radius;
  margin: $key-gap;
  cursor: pointer;

  font-size: calc($key-width * 0.5);
}

.key-tile:nth-child(20),
.key-tile:nth-child(28) {
  width: calc($key-width * 1.54);
}

@for $i from 11 through 19 {
  .key-tile:nth-child(#{$i}) {
    width: calc($key-width * 1.12);
  }
}

.correct {
  color: map-get($map: $colors, $key: 'white');
  border-color: map-get($map: $colors, $key: 'secondary');
  background-color: map-get($map: $colors, $key: 'secondary');
}

.present {
  color: map-get($map: $colors, $key: 'white');
  border-color: map-get($map: $colors, $key: 'primary');
  background-color: map-get($map: $colors, $key: 'primary');
}

.absent {
  color: map-get($map: $colors, $key: 'white');
  border-color: map-get($map: $colors, $key: 'dark-grey');
  background-color: map-get($map: $colors, $key: 'dark-grey');
}

// --------------------------------------------------------

.message-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: calc($grid-height * 0.4);
  left: calc(50% - $modal-width * 0.5);
  background-color: map-get($map: $colors, $key: 'dark-grey');
  border: 1px solid map-get($map: $colors, $key: 'light');
  border-radius: $border-radius;
  width: $modal-width;
  min-height: calc($grid-height * 0.2);
  padding: 0.5em;
  box-shadow: 0 0 10px map-get($map: $colors, $key: 'black');
  animation: message-pop 0.2s linear forwards;
  animation-delay: 0.5s;
  transform: scale(0);
}

@keyframes message-pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.message {
  color: map-get($map: $colors, $key: 'white');
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 0.375rem;
  margin-top: 0.375rem;

  &-word {
    color: map-get($map: $colors, $key: 'secondary');
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
  }

  &-btn {
    display: none;
    font-size: 1.125rem;
    padding: 0.25rem 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    border-radius: $border-radius;
    background-color: map-get($map: $colors, $key: 'secondary');
    color: map-get($map: $colors, $key: 'white');

    &:hover {
      transform: scale(1.05);
      background-color: map-get($map: $colors, $key: 'primary');
    }
  }
}

// --------------------------------------------------------

.help-container {
  position: fixed;
  display: none;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-inline: 2vw;
}

.help {
  position: relative;
  width: $keyboard-width;
  margin-bottom: auto;
  margin-top: calc(45px + 29px);
  border: 1px solid map-get($map: $colors, $key: 'light-grey');
  background-color: map-get($map: $colors, $key: 'dark-grey');
  padding: 1rem 2rem;
  border-radius: $border-radius;

  &__tiles {
    margin-bottom: 1rem;
  }

  &__close-btn {
    background-color: transparent;
    color: map-get($map: $colors, $key: 'light');
    border: none;
    position: absolute;
    font-size: 2rem;
    right: 0.5rem;
    top: 0.125rem;
    cursor: pointer;
  }

  & h3 {
    margin-bottom: 0.75rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.375rem;
    text-align: center;
    color: map-get($map: $colors, $key: 'secondary');
  }

  & h4 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }

  & p {
    margin-bottom: 1rem;
  }

  &__stars {
    margin-bottom: 0.5rem !important;
  }
}

// --------------------------------------------------------

.word-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.word {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: calc($grid-height * 0.4);
  left: calc(50% - $modal-width * 1.2 * 0.5);
  width: calc($modal-width * 1.25);
  min-height: calc($grid-height * 0.2);

  background-color: map-get($map: $colors, $key: 'dark-grey');
  border: 1px solid map-get($map: $colors, $key: 'light');
  border-radius: $border-radius;
  box-shadow: 0 0 10px map-get($map: $colors, $key: 'black');

  padding-top: 1.5rem;
  padding-bottom: 1rem;
  padding-inline: 2rem;

  & > h3 {
    color: map-get($map: $colors, $key: 'secondary');
    margin-bottom: 0.5rem;
  }

  &__label {
    display: block;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 0.5rem;
    max-width: 20ch;
  }

  &__input {
    display: block;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin-inline: auto;
  }

  &__close-btn {
    background-color: transparent;
    color: map-get($map: $colors, $key: 'light');
    border: none;
    position: absolute;
    font-size: 2rem;
    right: 0.5rem;
    top: 0rem;
    cursor: pointer;
  }
}

// --------------------------------------------------------

.stats-container {
  position: fixed;
  display: none;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-inline: 2vw;
}

.stats {
  position: relative;
  width: $keyboard-width;
  margin-bottom: auto;
  margin-top: calc(45px + 29px);
  border: 1px solid map-get($map: $colors, $key: 'light-grey');
  background-color: map-get($map: $colors, $key: 'dark-grey');
  padding: 1rem 2rem;
  border-radius: $border-radius;

  & > h2 {
    text-align: center;
    margin-bottom: 0.75rem;
    color: map-get($map: $colors, $key: 'secondary');
  }

  &__content {
    & > h3 {
      text-align: center;
      margin-bottom: 0.5rem;
      color: map-get($map: $colors, $key: 'secondary');
    }
  }

  &__close-btn {
    background-color: transparent;
    color: map-get($map: $colors, $key: 'light');
    border: none;
    position: absolute;
    font-size: 2rem;
    right: 0.5rem;
    top: 0.125rem;
    cursor: pointer;
  }

  &__boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
    margin-bottom: 1rem;
  }

  &__box {
    border: 1px solid map-get($map: $colors, $key: 'light-grey');
    text-align: center;
    padding: 1em 0.25em;
    border-radius: $border-radius;

    & > h2 {
      font-size: 1.25rem;

      @include sm {
        font-size: 1.75rem;
      }
    }

    & > p {
      font-size: 0.675rem;

      @include sm {
        font-size: 0.75rem;
      }
    }
  }

  &__spread {
    display: flex;
  }

  &__labels {
    width: $stats-bars-width;

    &-label {
      width: $stats-bars-width;
      height: $stats-bars-width;
      border: 1px solid map-get($map: $colors, $key: 'light-grey');
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__bars {
    width: calc(100% - $stats-bars-width);

    &-bar {
      display: flex;
      justify-content: end;
      align-items: center;
      padding-right: 0.5rem;
      width: 100%;
      height: $stats-bars-width;
      color: map-get($map: $colors, $key: 'black');
      background-color: map-get($map: $colors, $key: 'light-grey');
      border: 1px solid map-get($map: $colors, $key: 'dark');
    }
  }
}

// --------------------------------------------------------

.settings-container {
  position: fixed;
  display: none;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-inline: 2vw;
}

.settings {
  position: relative;
  width: $keyboard-width;
  margin-bottom: auto;
  margin-top: calc(45px + 29px);
  border: 1px solid map-get($map: $colors, $key: 'light-grey');
  background-color: map-get($map: $colors, $key: 'dark-grey');
  padding: 1rem 2rem;
  border-radius: $border-radius;

  background-color: map-get($map: $colors, $key: 'dark-grey');
  border: 1px solid map-get($map: $colors, $key: 'light');
  border-radius: $border-radius;
  box-shadow: 0 0 10px map-get($map: $colors, $key: 'black');

  padding-top: 1.5rem;
  padding-bottom: 1rem;
  padding-inline: 2rem;

  & h3 {
    color: map-get($map: $colors, $key: 'secondary');
    margin-bottom: 0.5rem;
  }

  &__close-btn {
    background-color: transparent;
    color: map-get($map: $colors, $key: 'light');
    border: none;
    position: absolute;
    font-size: 2rem;
    right: 0.5rem;
    top: 0rem;
    cursor: pointer;
  }

  &-btns {
    margin-bottom: 1rem;
  }
}

// --------------------------------------------------------

.switch {
  position: relative;
  display: inline-block;
  width: $switch-width;
  height: $switch-height;

  &-container {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1rem;
  }

  &-checkbox {
    opacity: 0;
    width: 0;
    height: 0;

    &--mode:checked + .switch-slider--mode {
      background-color: map-get($map: $colors, $key: 'secondary');
    }

    &--mode:checked + .switch-slider--mode:before {
      transform: translateX(calc($switch-height * 0.8));
    }

    &--mode:disabled + .switch-slider--mode {
      opacity: 0.5;
    }

    // &--color:checked + .switch-slider--color {
    //   background-color: map-get($map: $colors, $key: 'secondary');
    // }

    // &--color:checked + .switch-slider--color:before {
    //   transform: translateX(calc($switch-height * 0.8));
    // }
  }

  &-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: map-get($map: $colors, $key: 'light-grey');
    transition: $switch-transition;
    border-radius: $switch-height;
    width: $switch-width;

    &:before {
      position: absolute;
      content: '';
      height: calc($switch-height * 0.8);
      width: calc($switch-height * 0.8);
      left: calc($switch-height * 0.1);
      bottom: calc($switch-height * 0.1);
      background-color: map-get($map: $colors, $key: 'white');
      transition: $switch-transition;
      border-radius: 50%;
    }
  }
}
// --------------------------------------------------------
